/* 1. Reset / Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 2. CSS Variables */

:root {
  /* Colors: HSL (Hue, Saturation, Lightness) */
  --color-slate-900: hsl(218, 44%, 22%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-white: hsl(0, 0%, 100%);

  /* Font Families */
  --font-outfit: "Outfit", sans-serif;

  /* Spacing */
  --space-sm: 1.6rem;
  --space-md: 2.4rem;
  --space-lg: 4rem;

  --section-padding-block: clamp(3rem, 3vw + 2.04rem, 6rem);
  --gutter: clamp(2.75rem, 3.25vw + 1.71rem, 6rem);
}

/* 3. Base Typography  */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-outfit);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Utilities */
.bg-white {
  background-color: var(--color-white);
}

/* Default Settings of section and container */
:where(section:not(section section)) {
  padding-block: var(--section-padding-block);
  padding-inline: var(--gutter);
}

.container {
  max-width: 132rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Layout Styles */

.hero-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-slate-300);
}

.card {
  max-width: 32rem;
  margin-inline: auto;
  padding-inline: 1.6rem;
  padding-block: 1.6rem 4rem;
  box-shadow: 0 2.5rem 2.5rem hsl(0 0% 0% / 4.77%);
}

.card--rounded {
  border-radius: 2rem;
}

.card--theme-light {
  background-color: var(--color-white);
  color: var(--color-slate-500);
}

.card__image {
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}

.card__content {
  text-align: center;
}

.card__title {
  color: var(--color-slate-900);
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.card__para {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 25.6rem;
  margin-inline: auto;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}
